<div ng-controller="customerListViewModel">
    <h3>{{ pageTitle }}</h3>
    <div class="input-group" style="margin-bottom: 50px">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" placeholder="Filter: CustomerID, Customer Name, Email" class="form-control" ng-model="searchInput">
    </div>

    <table class="table table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>Customer Name</th>
                <th>Custome Email</th>
                <th></th>
            </tr>
        </thead>
        <tr ng-repeat="customer in customers | filter:searchInput">
            <td>{{ customer.CustomerID }}</td>
            <td>{{ customer.CustomerName }}</td>
            <td><a ng-href="mailto:{{ customer.CustomerEmail }}">{{ customer.CustomerEmail}}</a></td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="open(customer)">Show Details</button>
            </td>
        </tr>
    </table>
</div>